// Place all the styles related to the admin/dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

.admin-navbar
  nav.navbar.navbar-default
    background-color: #263248
    border: none
    border-radius: 0px
    margin-bottom: 0px
    z-index: 1000
    font-weight: 300
    color: #FFFFFF

  .navbar-right
    float: right !important
    margin-right: -15px
    position: relative

  a.navbar-brand
    color: #FF9800

  a.navbar-brand:hover
    color: #FFFFFF

  .navbar-default .navbar-nav > li > a
    color: #FFFFFF

  .navbar-default .navbar-nav > li > a:hover
    color: #FF9800

  .navbar-default .navbar-nav > li > a.highlight
    color: #FF9800

.dashboard
  h2
    font-weight: 300

  .dashboard-box
    border-width: 2px
    border-style: solid
    border-radius: 5px
    margin: 2px
    padding: 10px

    @media only screen and (min-width: 992px)
      max-width: 24%

    h4
      font-weight: 300
      text-align: center

    .glyphicon
      width: 100%
      text-align: center
      font-size: 2em
