#carousel-lumen.carousel.slide{"data-ride" => "carousel"}
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#carousel-lumen"}
  / Wrapper for slides
  .carousel-inner{role: "listbox"}
    .item.active
      %img{alt: "Lumen", src: "/assets/img_3754.jpg"}
        .carousel-caption.lumen
          %h1 Para Lumen, la salud visual es un derecho humano.
  / Controls
  %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-lumen", role: "button"}
    %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
    %span.sr-only Previous
  %a.right.carousel-control{"data-slide" => "next", href: "#carousel-lumen", role: "button"}
    %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
    %span.sr-only Next

.container-fluid.metrics
  .col-xs-4
    %span.glyphicon.glyphicon-heart{"aria-hidden" => "true"}
    %h4 Impacto
    %p Proyecto Lumen ha ayudado a detectar problemas de salud visual en 1 millón de niños en Venezuela.
  .col-xs-4
    %span.glyphicon.glyphicon-circle-arrow-up{"aria-hidden" => "true"}
    %h4 Escalabilidad
    %p El modelo de Proyecto Lumen permite entrenar a cientos de maestros de escuela en la detección de problemas de salud visual.
  .col-xs-4
    %span.glyphicon.glyphicon-globe{"aria-hidden" => "true"}
    %h4 Sustentabilidad
    %p La implementación del Proyecto Lumen corre a cargo de las comunidades, por lo que son ellas las que lo mantienen en el mediano plazo.

.container-fluid.equipo
  .col-xs-2
  .col-xs-8
    %h2 HISTORIA
    %hr
    %p El Proyecto Lumen fue fundado por el optómetra Martín Guzman en el 2008. Martín, quien daba clases en la Escuela de Optómetras de Venezuela, reclutó a un grupo de estudiantes para investigar los problemas de salud visual en zonas de difícil acceso.
  .col-xs-2
