div.alert
  margin: 0px
  border-radius: 0px

.site-navbar
  nav.navbar.navbar-default
    background-color: transparent
    border: none
    border-radius: 0px
    margin-bottom: 0px
    z-index: 1000
    font-weight: 300
    color: #FFFFFF
    min-height: 90px

  .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
    color: #FF9800

  .navbar-right
    float: right !important
    margin-right: -15px
    position: relative
    // top: 25px

  button.navbar-toggle.collapsed
    position: relative
    top: 20px

  button.navbar-toggle
    position: relative
    top: 20px

  ul.nav.navbar-nav.navbar-right
    margin-bottom: 45px

  div#bs-example-navbar-collapse-1
    position: relative
    top: 40px

  img.navbar-brand
    min-height: 100px
    position: relative
    bottom: 20px

  .navbar-default .navbar-nav > li > a.highlight
    font-weight: bold

  .navbar-default .navbar-nav > li > a.donation
    color: #FF9800
    border-color: #FF9800
    font-size: 14px
    position: relative
    bottom: 1px

  .navbar-default .navbar-nav > li > a.donation:hover
    color: #777777
    border-color: #777777

  .navbar-nav > li > a
    padding: 1px 15px

p
  margin: 0 0 10px
  font-size: 16px
  font-weight: 300
