nav.navbar.navbar-default
  background-color: transparent
  border: none
  border-radius: 0px
  margin-bottom: 0px
  z-index: 1000
  font-weight: 300
  color: #FFFFFF

p
  margin: 0 0 10px
  font-size: 16px
  font-weight: 300
