// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

.projects
  h3
    margin-top: 10px
    margin-bottom: 10px
    font-weight: 300
    margin-bottom: 10px

  img
    width: 100%

  .project-tooltip
    width: 250px

  .project
    margin-top: 15px
    margin-bottom: 15px

  #map-canvas
    height: 86vh
    margin: 0
    padding: 0
