.item
  max-height: 90vh

  img
    min-width: 100%

.metrics
  margin-top: 40px
  margin-bottom: 40px

  h3
    text-align: center
    font-weight: 300
    margin-bottom: 1em
    margin-top: 0px

  .glyphicon
    width: 100%
    text-align: center
    font-size: 2em

  .col-sm-4
    padding-top: 30px

.historia
  padding-top: 40px
  padding-bottom: 60px
  background-color: #263248
  color: #FFFFFF
  min-height: 300px

  h2
    font-weight: 100
    text-align: center

  hr
    margin-top: 0px
    margin-bottom: 30px
    border: 0
    border-top: 4px solid #FF9800
    max-width: 30px

.proyectos
  padding-top: 40px
  padding-bottom: 60px
  background-color: #7E8AA2
  color: #FFFFFF
  min-height: 300px

  h2
    font-weight: 100
    text-align: center

  h3
    font-weight: 100
    margin-bottom: 1em
    text-align: center

  hr
    margin-top: 0px
    margin-bottom: 30px
    border: 0
    border-top: 4px solid #FF9800
    max-width: 30px

  .col-sm-4
    padding-top: 10px

.contacto
  padding-top: 40px
  padding-bottom: 60px
  background-color: #000000
  color: #FFFFFF
  min-height: 300px

  h2
    font-weight: 100
    text-align: center

  h3
    font-weight: 100
    text-align: center

  hr
    margin-top: 0px
    margin-bottom: 30px
    border: 0
    border-top: 4px solid #FF9800
    max-width: 30px

  a.btn.btn-default.btn-lg
    background-color: transparent
    border-width: 2px
    border-color: #FFFFFF
    color: #FFFFFF
    padding: 14px

  a.btn.btn-default.btn-lg:hover
    color: #FF9800
    border-color: #FF9800

  p.btn-contacto
    text-align: center
    margin: 20px

@media (max-width: 768px)
  ul.nav.navbar-nav.navbar-right
    min-width: 100%
    margin: 20px 1px

    li
      margin: 5px 1px

      a#facebook:after
        content: 'FACEBOOK'
      a#twitter:after
        content: 'TWITTER'

      i.fa
        display: none
