.admin-navbar
  %nav.navbar.navbar-default{role:  "navigation"}
    .container-fluid
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type:  "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href: admin_path} ADMIN LUMEN
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to 'PROYECTOS', admin_projects_path
          %li
            %a{href: "#"} NOTICIAS
          %li
            = link_to 'FOTOS', admin_photos_path
          %li
            = link_to 'USUARIOS', admin_users_path
          %li
            = link_to 'SALIR', admin_logout_path, method: :delete
